* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    position: relative;
}
#root {
    margin: 0 auto;
    max-width: 450px;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5px;
}
a {
    display: block;
    color: #000;
    text-decoration: none;
}
button {
    width: 250px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

@import './tabs.less';