* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  position: relative;
}
#root {
  margin: 0 auto;
  max-width: 450px;
}
h1,
h2,
h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 10px;
}
a {
  display: block;
  color: #000;
  text-decoration: none;
}
button {
  width: 170px;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
form {
  max-width: 420px;
}
form label {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form input,
form select {
  flex: 1;
  height: 30px;
  margin-left: 10px;
}
form input::placeholder,
form select::placeholder {
  font-style: italic;
}
form textarea {
  height: 60px;
  width: 278px;
}
form .input-error {
  margin-left: 5px;
  color: #ff0000;
  font-style: italic;
  font-size: 12px;
}
.new-report {
  padding: 10px;
}
.divers-boat {
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.tabs-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 440px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.tabs-container .tabs-top {
  display: flex;
  justify-content: flex-start;
  max-width: 420px;
}
.tabs-container .tabs-top .tab-item {
  flex: 1;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #d3d3d3;
  border-top-right-radius: 15px;
  border-top-left-radius: 10px;
  background-color: #e2e0e0;
}
.tabs-container .tabs-top .choosen {
  flex: 1;
  background-color: white;
  border-bottom: none;
}
.tabs-container .tabs-content {
  padding: 10px;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}
