@border-color: #d3d3d3;
@backround-color: #e2e0e0;
@border-radius: 10px;

.tabs-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 440px;
    padding-top: 10px;
    padding-bottom: 10px;

    .tabs-top {
        display: flex;
        justify-content: flex-start;
        max-width: 420px;

        .tab-item {
            flex: 1;
            padding: 10px;
            font-size: 20px;
            border: 1px solid @border-color;
            border-top-right-radius: @border-radius + 5;
            border-top-left-radius: @border-radius;
            background-color: @backround-color;
        }

        .choosen {
            flex: 1;
            background-color: white;
            border-bottom: none;
        }
    }
    .tabs-content {
        padding: 10px;
        border-left: 1px solid @border-color;
        border-right: 1px solid @border-color;
        border-bottom: 1px solid @border-color;
    }
}